@model Guid
<script src="~/Scripts/CmsApiProxy.js" type="text/javascript"></script>

<div id="bound-context">

    <div>
        id: {{ location.id }} <br />
        name: {{ location.name }}
    </div>


    <div>
        relationships:
        <ul>
            <li v-for="relationship in relationships">
                <a v-bind:href="'/cms/content/' + relationship.contentId">
                    id: {{ relationship.contentId }}
                </a>
                <br />
                requirements:
                <ul>
                    <li v-for="requirement in relationship.requirements">
                        key: {{ requirement.key }}<br />
                        <span v-show="requirement.matchType !== 'Exists'">
                            value: {{ requirement.value }} <br />
                        </span>
                        match: {{ requirement.matchType }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    No Input Preview:<br />
    <iframe v-bind:src="location.previewUrl"></iframe>

</div>

<script>
    new Vue({
        el: '#bound-context',
        data: {
            location: {},
            relationships: [],
            locationId: '@Model.ToString()',
            cmsApi: new CmsApiProxy(),
        },
        methods: {
            Initialize: function () {
                var self = this;
                this.cmsApi.GetLocation(this.locationId).done(function (data) {
                    if (data) {
                        self.location = {
                            name: data.Name,
                            id: data.Id,
                            previewUrl: data.PreviewLocationUrl
                        }
                    }
                });
                this.cmsApi.GetLocationRelationships(this.locationId).done(function (data) {
                    if (data) {
                        self.relationships = data;
                    }
                });
            }
        }
    }).Initialize();
</script>